@import "tailwindcss";

:root {
  --background: #52715a;
  --foreground: #d3e4cf;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232b25;
    --foreground: rgb(216, 235, 200);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
#main_container{
  padding: 12px;
  width: 100%;
  height: auto;
  text-align: center;
} 
#title{
  color: #c2e0ca;
  font-size:xx-large;
  margin-bottom: 12px;
}
#big_container{
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-direction: row;
}
#cat_title{
  font-size: larger;
  margin-bottom: 4px;
}
.small_container{
  padding: 4px;
}
#add_button{
  
  background-color: #00ED64;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: xx-large;
  border: 1px solid #01291e;
  width: 48px;
  height: 48px;
  border-radius: 1000px;
  justify-content: center;
  box-shadow: 0px 7px 13px 0px #00000021;
  align-items: center;
}
#add_container{
  display: flex;
  width: 240px;
  height: 130px;
  align-items: center;
  padding: 8px;
  gap: 8px;
  background-color: #00684A;
  border: 1px solid black;
  position: absolute;
  right: 64px;
  bottom: 32px;
  flex-direction: column;
}
#list{
  border: 1px solid black;
    font-size: large;
    color: rgb(216, 235, 200);
    text-align: left;
    background-color: #00684a;
    justify-self: center;
    width: 264px;
    padding: 12px;
    padding-left: 16px;
    padding-right: 16px;
}